
@media screen and (max-width: 1000px){

		.shadow{
			display: none;
		}
		
		#canvas{
			display: none;
		}

		.push_btn{
			left: calc(50vw - 78px);
			top: 22.3rem;
		}

		.clock_animate{
			width: 85px;
			height: 85px;
			transform-origin: center;
			margin-left: 1.7rem;
		}
		
		.info_robot{
			display: none !important;
		}

		.presentation section>ul,.avertissement{
			width: 100%;
			margin: 0;
		}

		section{
			margin: 0;
		}

		section>ul{
			margin: 0 !important;
		}
		main{
		background-image: url("../images/background-4.png");
		background-repeat: no-repeat;
		background-position:  bottom left;
		background-size: cover;
	}
}




@media screen and (max-width: 600px){

		header{
			height: 85vh;
		}


		#canvas, .container_nav, , .container-mechanisme-titre, .machine_container{
			display: none;
		}

		.nav_phone{
			display: flex;
			justify-content: space-around;
			width: 100%;
			img{
				display: none;
			}

			.skills_nav{
				padding-left: 1rem;
			}
			
			h3{
				font-size: 0.9rem;
				padding-top: 0.4rem;
			}
		}

		#comp li{
			padding: 0rem;
		}

		#comp ul{
			width: 100%;
		}

		.presentation section>ul,.avertissement{
			width: 100%;
			margin: 0;
	
		}

		.info_robot{
			display: none !important;
		}

		section{
			margin: 0;
		}

		section>ul{
			margin: 0 !important;
		}

		#rouage_portrait{
			//transform: scale(0.8);
			width: 20rem;
			top:  4rem;
		}

		.conatiner_portrait{
			height: 14rem; 
		}

		.img_portrait{
			top: -12.9rem;
			width: 8rem;
			height: 8rem;
		}

		.clock_animate{
			margin-left: 1.9rem;
		}

		.push_btn{
			left: calc(50vw - 80px);
			top: 8.4rem;
		}

		h1{
			font-size: 1.3rem;
		}
		h2{
			font-size: 1.5rem;
		}

		#links, #diplomes, #exp{
			padding: 0 7vw;
		}

		#comp ul{
			justify-content: space-around;
			li{
				padding: 2rem;
		}
		@keyframes t-d-active{

			100%{
				transform: translateX(-25vw);
				opacity: 1;
			}
		}

		@keyframes t-g-active{

			100%{
				transform: translateX(25vw);
				opacity: 1;
			}
		}

		@keyframes manche-d-active{
			0%{
				transform: translateX(35rem);
			}
			1%{
				transform: translateX(35);
			}
			15%{
				opacity: 1;
			}
			40%{
				transform: translateX(20vw);

			}
			85%{
				transform: translateX(20vw);
			}
			95%{
				opacity:1;
			}
			
			99%{
				transform: translateX(85rem);
				opacity:0;
			}
			100%{
				transform: translateX(85rem);
				opacity:0;
			}
		}

		@keyframes manche-g-active{
			0%{
				transform: translateX(-45rem);
				opacity: 0;
			}
			15%{
				opacity: 1;
			}
			44%{
				transform: translateX(-20vw);

			}
			85%{
				transform: translateX(-20vw);

			}
			95%{
				opacity: 1;
			}
			99%{
				transform: translateX(-85rem);
				opacity: 0;
			}
			100%{
				transform: translateX(-85rem);
				opacity: 0;
			}
		}


	}

	.container-cache{
		height: 22rem;
		width: 10.8rem; 
	}

	#box-cache_small_top{
		height: 3rem;
	}

	.box-cache_small{
		height: 57.2vh;
		width: 100%;
	}


}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
	
	.nav_phone{
		display: flex;
		justify-content: space-around;
		width: 100%;
		h3{
			margin-top: 0.5rem;
		}
		img{
			display: none;
		}
	}

	.info_robot{
		display: block !important;
		left: 3rem;
		top: 13rem;
		font-size: 0.7rem;
	}

	#canvas{
		display: block;
		transform: scale(0.5) translateY(-36rem) translateX(-22rem);
	}

	@keyframes robot-fade-in{
		from{
			transform: scale(0.5) translateY(-36rem) translateX(-22rem)
		}
		to{
			transform: scale(0.5) translateY(-11.5rem) translateX(-22rem);

		}
	}

	#animation_container{
		width: 30px;
		left: -5rem;
	}

    .container-cache{
		height: 22rem;
		width: 10.8rem; 
	}

	#box-cache_small_top{
		height: 2.1rem;
	}

	.box-cache_small{
		height: 12.5rem;
		width: 100%;
	}

	.push_btn{
		left: calc(50vw - 80px);
		top: 3.5rem;
	}

	.img_portrait{
		top: -16.4rem;
		width: 5rem;
		height: 5rem;
	}
	
	#rouage_portrait{
		width: 13rem;
		top:  2.5rem;
	}

	.container-cache{
		height: 14rem;
		width: 6.8rem; 
	}

	h1{
		font-size: 1rem;
	}

	h2{
		font-size: 1.2rem;
	}

	.conatiner_portrait{
		height: 1rem; 
	}

	nav{
		height: 2.9rem;
	}

	footer{
		padding-top: 2rem;

	}

	section>ul, .skills, section>div, section>p{
		padding-left: 30vw;
	}

	.skills li:hover{
		border: solid 1px rgba(0,0,0,0);
	}

	section{
		position: relative;
		z-index: 2;
	}

	@keyframes t-d-active{

			100%{
				transform: translateX(-18vw);
				opacity: 1;
			}
		}

		@keyframes t-g-active{

			100%{
				transform: translateX(37vw);
				opacity: 1;
			}
		}

		@keyframes manche-d-active{
			0%{
				transform: translateX(35rem);
			}
			1%{
				transform: translateX(35);
			}
			15%{
				opacity: 1;
			}
			40%{
				transform: translateX(33vw);

			}
			85%{
				transform: translateX(33vw);
			}
			95%{
				opacity:1;
			}
			
			99%{
				transform: translateX(85rem);
				opacity:0;
			}
			100%{
				transform: translateX(85rem);
				opacity:0;
			}
		}

		@keyframes manche-g-active{
			0%{
				transform: translateX(-45rem);
				opacity: 0;
			}
			15%{
				opacity: 1;
			}
			44%{
				transform: translateX(-15vw);

			}
			85%{
				transform: translateX(-15vw);

			}
			95%{
				opacity: 1;
			}
			99%{
				transform: translateX(-85rem);
				opacity: 0;
			}
			100%{
				transform: translateX(-85rem);
				opacity: 0;
			}
		}

}

