#machine{
	width: 35rem;
	position: absolute;
	top: -25rem;
	left: -5rem;

}
#bras{
	//outline: 1px solid red;
	//transform-origin: top right;
	//transform: rotate(50deg);
}

#avant_bras_pince{
	//outline: 1px solid red;
	//transform-origin: top right;
	//transform: rotate(-100deg);
}
#bras_epaule{

	//transform-origin: top right;
	//transform: rotate(20deg);
}

.info_robot-fade-in-out{
		animation-name: info_fade-in;
	animation-timming-function: ease-in;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

@keyframes info_fade-in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

#canvas{
	//opacity: 0.7;
	transform: scale(0.7) translateY(-4rem) translateX(-6rem);
}

.robot_active{
	animation-name: robot-fade-in;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timming-function: ease-out;

}
@keyframes robot-fade-in{
	from{
		top: -25rem;
	}
	to{
		top: -3rem;
	}
}
.machine_container{
	position: absolute;
}

.machine_container_fixed{
	position: fixed;
}
