#machine{
	width: 35rem;
	position: absolute;
	top: -25rem;
	left: -5rem;

}
#bras{
	//outline: 1px solid red;
	//transform-origin: top right;
	//transform: rotate(50deg);
}

#avant_bras_pince{
	//outline: 1px solid red;
	//transform-origin: top right;
	//transform: rotate(-100deg);
}
#bras_epaule{

	//transform-origin: top right;
	//transform: rotate(20deg);
}