	@import "components/fonts.scss";
	@import "components/nav.scss";
	@import "components/rouages.scss";
	@import "components/button.scss";
	@import "components/robot.scss";
	@import "components/links.scss";
	@import "components/slide.scss";
	@import "components/portrait.scss";
	@import "components/footer.scss";
	@import "components/arms.scss";
	@import "components/skills.scss";
	@import "components/title.scss";
	@import "components/infos.scss";
	@import "components/small-robot.scss";
	@import "components/shutdown.scss";


//--------------------- global-----------------------------------------

*{
	box-sizing: border-box;
}

body{
	color: #F1EDF7;
	//font-family: 'Paytone One', sans-serif;
	font-family: 'Iceland', cursive;
	background: linear-gradient(to bottom, #383742 0%,#131114 100%);
}

ul{
	padding-left: 0;
}

li{
	list-style-type: none;
}

.hidden{
	display: none;
}

header{
	width: 100vw;
	margin: auto;
}

.main-container{
	font-size: 1.1rem;
}


//------------------------media queries

@media only screen and (max-width: 1000px) and (orientation: landscape){
	main{
		background-image: none;
	}
}

@media screen and (max-width: 600px){


	#canvas, .container_nav, .container-mechanisme-titre, .machine_container{
		display: none;
	}
	section{
		margin: 0;
	}
}

//----------------------- main content ----------------------------

.container_main-content{
	padding-bottom: 8rem;
}

.container_main-content h3{
	text-align: center;
}
.container_main-content section>ul,.links_title--avertissement{
	width: 55%;
	margin: auto;
	li{
		padding: 1rem 0;
	}
}

.container_main-content section, .container_main-content h3{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.box_main-content{
	margin-bottom: 150px;
	overflow: hidden;
	opacity: 0;
	transform: translateY(60px);
	position: relative;
	z-index: 2
}

.box_main-content--show{
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 0.8s ease-out, transform 0.6s ease-out;
}

//---------------------------- media queries

@media screen and (max-width: 1000px){
	.container_main-content section>ul,.links_title--avertissement{
		width: 100%;
		margin: 0;
	}
	section{
		margin: 0;
	}
}

@media screen and (max-width: 600px){
	#links, #diplomes, #exp{
		padding: 0 7vw;
	}
	
	#comp ul{
		justify-content: space-around;
	
		li{
			padding: 2rem;
		}
	}
}

//---------------------------------------------------

.links_title--avertissement{
	font-size: 1.5rem;
	padding-bottom: 2rem;
}

#comp ul{	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	li{
		padding: 4rem;
	}
}

.box_title{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4rem;
	h3{
		margin-left: 1.5rem;
	}
}

main{
	background-image: url("../images/dechets2.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 55rem;
}

.container-expositions-list{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}

.expositions-list{
	margin: 0 15px;
}

.exp_title{
	width: 2.5rem;
	padding: 3rem 0;
}

@import "media.scss";