@import "rouages.scss";
@import "button.scss";
@import "robot.scss";



// #191919
// #4D4D4D

body{
	

	color: #F1EDF7;
	font-family: 'Paytone One', sans-serif;
	//font-family: 'Special Elite', cursive;
	background: linear-gradient(to bottom, #383742 0%,#131114 100%);

}
ul{
	padding-left: 0;
}
li{
	list-style-type: none;
}

a{
	color: white;
	text-decoration: none;
}

nav{
	height: 4rem;
	background-color: black;
	postition: fixed;
	z-index: 100;
	
}

.nav_shadow{
	animation-name: nav_active;
	animation-duration: 2s;
	animation-fill-mode: forwards;

}
@keyframes nav_active{
	0%{
		box-shadow: 0px 15px 100px 5px #43424F;
	}
	10%{
		box-shadow: 0px 5px 100px 10px #43424F;
	}
	15%{
		box-shadow: 0px 15px 100px 15px #43424F;
	}
	30%{
		box-shadow: 0px 10px 100px 5px #43424F;
	}
	40%{
		box-shadow: 0px 20px 100px 15px #43424F;
	}
	43%{
		box-shadow: 0px 10px 100px 25px #43424F;
	}
	48%{
		box-shadow: 0px 15px 100px 20px #43424F;
	}
	60%{
		box-shadow: 0px 10px 100px 15px #43424F;
	}
	65%{
		box-shadow: 0px 5px 100px 5px #43424F;
	}
	100%{
		box-shadow: 0px 30px 100px 25px #43424F;
	}
}

h2{
	font-size: 2rem;
}
h1, h2, footer{
	text-align: center;
}

header{
	width: 100%;
	margin: auto;
}

button:focus {outline:0;}


.conatiner_portrait{
	position: relative;
	margin: 0 0  8rem 0;
	text-align: center;


}

.container_nav{
	display: flex;
	justify-content: space-around;
	margin-top: 15vh;
	position: relative;
	z-index: 10000;
}

.img_portrait{
	border-radius: 500px;
	max-width: 10rem;
	margin-top: 13rem;
	position: relative;
	z-index: 2;
	border: solid 4px black;
	width: 10rem; // 5rem;
	height: 10rem;  // 5rem;
	border-radius: 500px;
	background-color: white;

	opacity: 0;
}
.image_portrait_fade-in{
		animation-name: fade-in_portrait;
	animation-duration: 3s;
	animation-timming-fonction: ease-in;
	animation-fill-mode: forwards;
	animation-delay: 4.5s;
}
@keyframes fade-in_portrait{
	0%{
		opacity: 0;
	}
		100%{
		opacity: 1;
	}
}

.info_robot{
	background-color: #F1EDF7;
	border-radius: 3px;
	padding: 0rem;
	position: absolute;
	top: 2rem;
	left: 18rem;
	padding: 0 2rem;
	opacity: 0;

	p{
		text-align: center;
		color: black;
		margin: 0.4rem 0rem;
	}
};
/*.info_robot-fade-in{
	animation-name: info_fade-in;
	animation-timming-function: ease-in;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-delay: 5s;
}

@keyframes info_fade-in{
	0%{
		opacity: 0;
	}
	20%{
		opacity: 1;
	}
	80%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}*/



.presentation h3{
	text-align: center;
}
.presentation ul,.avertissement{
	width: 55%;
	margin: auto;
}

#comp ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	li{
		padding: 4rem;
	}

}
.presentation section, .presentation h3{
		
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.box_title{
	display: flex;
	justify-content: center;
	align-items: center;
	h3{
		margin-left: 1.5rem;
	}
}


.present{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

//-----------------------------------------------svg

#manche_g{
	width: 46rem;
	position: absolute;
	top: 37rem;
	left: 40%;
	transform: translateX(-100%);
	display: none;
}
#manche_d{
	width: 70rem;
	position: absolute;
	top: 37rem;
	left: 40%;
	display: none;
}



#rouage_portrait{
	position: absolute;
	width: 27rem;
	top: 3rem;
	left: 50%;
	transform-x: -50%;
	transform: translateX(-50%);
}


footer{
	margin: 7rem;
}

@import "media.scss";