.piston_dis {
  -webkit-animation-name: dissapear;
  animation-name: dissapear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

@-webkit-keyframes dissapear {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; } }

@keyframes dissapear {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; } }

.smaller {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation-name: smallerB;
  animation-name: smallerB;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@-webkit-keyframes smallerB {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.88);
    transform: scale(0.88); } }

@keyframes smallerB {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.88);
    transform: scale(0.88); } }

.cercle_interne {
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  transform: scale(1.7);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box; }

.active_cercle_interne {
  fill: #0F0F0F;
  -webkit-animation-name: smaller;
  animation-name: smaller;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

@-webkit-keyframes smaller {
  0% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  30% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98); }
  40% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes smaller {
  0% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  30% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98); }
  40% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.rouage_title {
  width: 2.5rem; }

.circle_1_fade-in {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s; }

@-webkit-keyframes rotate {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

@keyframes rotate {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

.circle_2_fade-in {
  -webkit-animation-name: rotate2;
  animation-name: rotate2;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s; }

@-webkit-keyframes rotate2 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

@keyframes rotate2 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

.circle_3_fade-in {
  -webkit-animation-name: rotate3;
  animation-name: rotate3;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

@-webkit-keyframes rotate3 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

@keyframes rotate3 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

.circle_4_fade-in {
  -webkit-animation-name: rotate4;
  animation-name: rotate4;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes rotate4 {
  0% {
    opacity: 0; }
  90% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

@keyframes rotate4 {
  0% {
    opacity: 0; }
  90% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

.circle_6_fade-in {
  -webkit-animation-name: rotate6;
  animation-name: rotate6;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes rotate6 {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rotate6 {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.circle_7_fade-in {
  -webkit-animation-name: rotate7;
  animation-name: rotate7;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-transform: translateX(-0.5rem);
  -ms-transform: translateX(-0.5rem);
  transform: translateX(-0.5rem);
  -webkit-animation-duration: 3.7s;
  animation-duration: 3.7s; }

@-webkit-keyframes rotate7 {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes rotate7 {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.circle_8_fade-in {
  -webkit-animation-name: rotate8;
  animation-name: rotate8;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s; }

@-webkit-keyframes rotate8 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@keyframes rotate8 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

.circle_9_fade-in {
  -webkit-animation-name: rotate9;
  animation-name: rotate9;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

@-webkit-keyframes rotate9 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

@keyframes rotate9 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

.circle_10_fade-in {
  aniation-name: rotate10;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

@-webkit-keyframes rotate10 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

@keyframes rotate10 {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

.rotate_cercle_interne {
  -webkit-animation-name: clock_intern_rotation;
  animation-name: clock_intern_rotation;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

@-webkit-keyframes clock_intern_rotation {
  0% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
    fill: #0F0F0F; }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    fill: #0F0F0F; } }

@keyframes clock_intern_rotation {
  0% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
    fill: #0F0F0F; }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    fill: #0F0F0F; } }

.circle_extern_rotate {
  -webkit-animation-name: clock_rotation;
  animation-name: clock_rotation;
  -webkit-animation-timing-function: steps(60, end);
  animation-timing-function: steps(60, end);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  fill: #0F0F0F; }

@-webkit-keyframes clock_rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clock_rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.active_1, .active_2, .active_3, .active_4, .active_5,
.active_6, .active_7, .active_8, .active_9, .active_10 {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s; }

.active_1 {
  -webkit-animation-name: clock_rotation_clock_1;
  animation-name: clock_rotation_clock_1;
  -webkit-animation-duration: 10s;
  animation-duration: 10s; }

@-webkit-keyframes clock_rotation_clock_1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clock_rotation_clock_1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.active_2 {
  -webkit-animation-name: clock_ratation_clock_2;
  animation-name: clock_ratation_clock_2;
  -webkit-animation-duration: 30s;
  animation-duration: 30s; }

@-webkit-keyframes clock_ratation_clock_2 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1; } }

@keyframes clock_ratation_clock_2 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1; } }

.active_3 {
  -webkit-animation-name: clock_rotation_clock_3;
  animation-name: clock_rotation_clock_3;
  -webkit-animation-duration: 7s;
  animation-duration: 7s; }

@-webkit-keyframes clock_rotation_clock_3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clock_rotation_clock_3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.active_4 {
  -webkit-animation-name: clock_ratation_clock_4;
  animation-name: clock_ratation_clock_4;
  -webkit-animation-duration: 8.5s;
  animation-duration: 8.5s; }

@-webkit-keyframes clock_ratation_clock_4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clock_ratation_clock_4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.active_5 {
  -webkit-animation-name: clock_ratation_clock_5;
  animation-name: clock_ratation_clock_5;
  -webkit-animation-duration: 12s;
  animation-duration: 12s; }

@-webkit-keyframes clock_ratation_clock_5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clock_ratation_clock_5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.active_6 {
  -webkit-animation-name: clock_ratation_clock_6;
  animation-name: clock_ratation_clock_6;
  -webkit-animation-duration: 17s;
  animation-duration: 17s; }

@-webkit-keyframes clock_ratation_clock_6 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes clock_ratation_clock_6 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.active_7 {
  -webkit-animation-name: clock_ratation_clock_7;
  animation-name: clock_ratation_clock_7;
  -webkit-animation-duration: 13s;
  animation-duration: 13s; }

@-webkit-keyframes clock_ratation_clock_7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clock_ratation_clock_7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.active_8 {
  -webkit-animation-name: clock_ratation_clock_8;
  animation-name: clock_ratation_clock_8;
  -webkit-animation-duration: 10s;
  animation-duration: 10s; }

@-webkit-keyframes clock_ratation_clock_8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clock_ratation_clock_8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.active_9 {
  -webkit-animation-name: clock_ratation_clock_9;
  animation-name: clock_ratation_clock_9;
  -webkit-animation-duration: 18s;
  animation-duration: 18s; }

@-webkit-keyframes clock_ratation_clock_9 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes clock_ratation_clock_9 {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.active_10 {
  -webkit-animation-name: clock_ratation_clock_10;
  animation-name: clock_ratation_clock_10;
  -webkit-animation-duration: 10s;
  animation-duration: 10s; }

@-webkit-keyframes clock_ratation_clock_10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clock_ratation_clock_10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rond-central {
  -webkit-animation-name: central-rot;
  animation-name: central-rot;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }

@-webkit-keyframes central-rot {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes central-rot {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.clock_animate {
  width: 4rem;
  margin: 1rem 0 0 1.8rem;
  position: relative;
  top: -1rem;
  left: 0.5rem; }

.sti2:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box; }

.push_btn {
  position: absolute;
  top: 5rem;
  left: 10rem;
  -webkit-transform: translateX 30px;
  -ms-transform: translateX 30px;
  transform: translateX 30px;
  z-index: 55; }

.push_btn_disable {
  -webkit-animation-name: start-btn_fade-out;
  animation-name: start-btn_fade-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes start-btn_fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

@keyframes start-btn_fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

.info_robot-fade-in-out {
  -webkit-animation-name: info_fade-in;
  animation-name: info_fade-in;
  animation-timming-function: ease-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

@-webkit-keyframes info_fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes info_fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#canvas {
  -webkit-transform: scale(0.7) translateY(-30rem) translateX(-6rem);
  -ms-transform: scale(0.7) translateY(-30rem) translateX(-6rem);
  transform: scale(0.7) translateY(-30rem) translateX(-6rem); }

.robot_active {
  -webkit-animation-name: robot-fade-in;
  animation-name: robot-fade-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-timming-function: ease-out;
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s; }

@-webkit-keyframes robot-fade-in {
  from { }
  to {
    -webkit-transform: scale(0.7) translateY(-3.5rem) translateX(-6rem);
    transform: scale(0.7) translateY(-3.5rem) translateX(-6rem); } }

@keyframes robot-fade-in {
  from { }
  to {
    -webkit-transform: scale(0.7) translateY(-3.5rem) translateX(-6rem);
    transform: scale(0.7) translateY(-3.5rem) translateX(-6rem); } }

.machine_container {
  position: absolute;
  z-index: 1; }

.machine_container_fixed {
  position: fixed; }

.container-manche-g, .title_2 {
  -webkit-transform: translateX(-70vw);
  -ms-transform: translateX(-70vw);
  transform: translateX(-70vw);
  opacity: 0; }

.container-manche-d, .title_1 {
  -webkit-transform: translateX(70vw);
  -ms-transform: translateX(70vw);
  transform: translateX(70vw);
  opacity: 0; }

.container-manche-g-active {
  -webkit-animation-name: manche-g-active;
  animation-name: manche-g-active;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 4.3s;
  animation-delay: 4.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-timming-function: ease-out; }

@-webkit-keyframes manche-g-active {
  0% {
    -webkit-transform: translateX(-82rem);
    transform: translateX(-82rem);
    opacity: 0; }
  15% {
    opacity: 1; }
  54% {
    -webkit-transform: translateX(-11rem);
    transform: translateX(-11rem); }
  85% {
    -webkit-transform: translateX(-11rem);
    transform: translateX(-11rem); }
  95% {
    opacity: 1; }
  99% {
    -webkit-transform: translateX(-85rem);
    transform: translateX(-85rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(-85rem);
    transform: translateX(-85rem);
    opacity: 0; } }

@keyframes manche-g-active {
  0% {
    -webkit-transform: translateX(-82rem);
    transform: translateX(-82rem);
    opacity: 0; }
  15% {
    opacity: 1; }
  54% {
    -webkit-transform: translateX(-11rem);
    transform: translateX(-11rem); }
  85% {
    -webkit-transform: translateX(-11rem);
    transform: translateX(-11rem); }
  95% {
    opacity: 1; }
  99% {
    -webkit-transform: translateX(-85rem);
    transform: translateX(-85rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(-85rem);
    transform: translateX(-85rem);
    opacity: 0; } }

.container-manche-d-active {
  -webkit-animation-name: manche-d-active;
  animation-name: manche-d-active;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-timming-function: ease-out; }

@-webkit-keyframes manche-d-active {
  0% {
    -webkit-transform: translateX(70rem);
    transform: translateX(70rem); }
  1% {
    -webkit-transform: translateX(69rem);
    transform: translateX(69rem); }
  15% {
    opacity: 1; }
  50% {
    -webkit-transform: translateX(7rem);
    transform: translateX(7rem); }
  85% {
    -webkit-transform: translateX(7rem);
    transform: translateX(7rem); }
  95% {
    opacity: 1; }
  99% {
    -webkit-transform: translateX(85rem);
    transform: translateX(85rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(85rem);
    transform: translateX(85rem);
    opacity: 0; } }

@keyframes manche-d-active {
  0% {
    -webkit-transform: translateX(70rem);
    transform: translateX(70rem); }
  1% {
    -webkit-transform: translateX(69rem);
    transform: translateX(69rem); }
  15% {
    opacity: 1; }
  50% {
    -webkit-transform: translateX(7rem);
    transform: translateX(7rem); }
  85% {
    -webkit-transform: translateX(7rem);
    transform: translateX(7rem); }
  95% {
    opacity: 1; }
  99% {
    -webkit-transform: translateX(85rem);
    transform: translateX(85rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(85rem);
    transform: translateX(85rem);
    opacity: 0; } }

#title_1-active {
  -webkit-animation-name: t-g-active;
  animation-name: t-g-active;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: block;
  opacity: 0; }

@-webkit-keyframes t-g-active {
  0% {
    -webkit-transform: translateX(85rem);
    transform: translateX(85rem);
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(8.5rem);
    transform: translateX(8.5rem);
    opacity: 1; } }

@keyframes t-g-active {
  0% {
    -webkit-transform: translateX(85rem);
    transform: translateX(85rem);
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(8.5rem);
    transform: translateX(8.5rem);
    opacity: 1; } }

.title_2-active {
  -webkit-animation-name: t-d-active;
  animation-name: t-d-active;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0; }

@-webkit-keyframes t-d-active {
  0% {
    -webkit-transform: translateX(-85rem);
    transform: translateX(-85rem);
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-12rem);
    transform: translateX(-12rem);
    opacity: 1; } }

@keyframes t-d-active {
  0% {
    -webkit-transform: translateX(-85rem);
    transform: translateX(-85rem);
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-12rem);
    transform: translateX(-12rem);
    opacity: 1; } }

.container_manches {
  overflow: hidden; }

.title_1 {
  display: none; }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent; }

#links li:hover .hvr-bob, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

.container-global-cache {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100vw;
  overflow: hidden; }

.container-global-cache, .sous-container-global-cache {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  wrap: no-wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.box-cache {
  background-color: black; }

.container-cache {
  height: 29.7rem;
  width: 14.3rem; }

.box-cache_big {
  height: 100vh;
  width: 50vw; }

.box-cache_small {
  height: 30.5vh;
  width: 100%;
  -webkit-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  transform: translateY(-1rem); }

/*.container-child-cache{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}*/
#box-cache_small_top {
  height: 13.1rem;
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem); }

.sous-container-global-cache-left-active {
  -webkit-animation-name: cache-slide-left;
  animation-name: cache-slide-left;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes cache-slide-left {
  from {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw); }
  to {
    -webkit-transform: translateX(-55vw);
    transform: translateX(-55vw);
    z-index: -5; } }

@keyframes cache-slide-left {
  from {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw); }
  to {
    -webkit-transform: translateX(-55vw);
    transform: translateX(-55vw);
    z-index: -5; } }

.sous-container-global-cache-right-active {
  -webkit-animation-name: cache-slide-right;
  animation-name: cache-slide-right;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes cache-slide-right {
  from {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw); }
  to {
    -webkit-transform: translateX(55vw);
    transform: translateX(55vw);
    z-index: -5; } }

@keyframes cache-slide-right {
  from {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw); }
  to {
    -webkit-transform: translateX(55vw);
    transform: translateX(55vw);
    z-index: -5; } }

.main-cache {
  height: 100vh; }

html {
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #F1EDF7;
  font-family: 'Paytone One', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#383742), to(#131114));
  background: -webkit-linear-gradient(top, #383742 0%, #131114 100%);
  background: -o-linear-gradient(top, #383742 0%, #131114 100%);
  background: linear-gradient(to bottom, #383742 0%, #131114 100%); }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

a {
  color: white;
  text-decoration: none; }

nav {
  height: 4rem;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 19;
  top: 0; }
  nav a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: no-wrap;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    nav a h3 {
      margin-right: 1rem; }
    nav a .svg_nav {
      width: 1.8rem;
      margin-right: 1rem; }
    nav a .svg_nav-xp {
      width: 1.4rem;
      margin-right: 3rem; }

.hidden {
  display: none; }

h2 {
  font-size: 2rem; }

h1, h2, footer {
  text-align: center; }

header {
  width: 100vw;
  height: 100vh;
  margin: auto; }

button:focus {
  outline: 0;
  border: solid 2px black; }

.conatiner_portrait {
  position: relative;
  margin: 0 0 8rem 0;
  text-align: center;
  z-index: 1; }

.img_portrait {
  border-radius: 500px;
  max-width: 10rem;
  margin-top: 23rem;
  position: relative;
  z-index: 2;
  border: solid 4px black;
  width: 10rem;
  height: 10rem;
  border-radius: 500px;
  background-color: white;
  opacity: 0; }

.image_portrait_fade-in {
  -webkit-animation-name: fade-in_portrait;
  animation-name: fade-in_portrait;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-timming-fonction: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@-webkit-keyframes fade-in_portrait {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in_portrait {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.info_robot {
  background-color: #F1EDF7;
  padding: 0rem;
  position: fixed;
  top: 3rem;
  left: 20rem;
  padding: 0.1rem 1rem;
  display: none;
  opacity: 0;
  z-index: 40;
  width: 8rem;
  z-index: 25; }
  .info_robot p {
    text-align: center;
    color: black;
    margin: 0.4rem 0rem; }

.nav_phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 70vw; }
  .nav_phone h3 {
    font-size: 0.9rem;
    padding-top: 0.4rem; }

.nav_phone h3:hover {
  border-bottom: solid 1px white; }

.nav_phone_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

/*.info_robot-fade-in{
	animation-name: info_fade-in;
	animation-timming-function: ease-in;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-delay: 5s;
}

@keyframes info_fade-in{
	0%{
		opacity: 0;
	}
	20%{
		opacity: 1;
	}
	80%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
	}*/
.presentation {
  padding-bottom: 8rem; }

.presentation h3 {
  text-align: center; }

.presentation section > ul, .avertissement {
  width: 55%;
  margin: auto; }
  .presentation section > ul li, .avertissement li {
    padding: 1rem 0; }

.avertissement {
  font-size: 1.5rem;
  padding-bottom: 2rem; }

#comp ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #comp ul li {
    padding: 4rem; }

.presentation section, .presentation h3 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.box_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4rem; }
  .box_title h3 {
    margin-left: 1.5rem; }

.present {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 5; }

.skills li:hover {
  border: 1px solid white; }

.skills li {
  text-align: center;
  border: solid 1px transparent;
  padding: 1rem; }

.skills {
  padding: 0 2vw; }

#links, #diplomes, #exp {
  padding: 0 10vw; }

.skills li > div:hover {
  border: 1px solid white; }

.skills li > div {
  margin-top: 1.2rem;
  border: 1px solid white;
  width: 5rem; }

.full {
  height: 0.8rem;
  background-color: white;
  width: 0; }

main {
  background-image: url("../images/dechets2.svg"), url("../images/background-4.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, top left;
  background-size: 55rem,cover; }

.shadow {
  width: 25rem;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 10px 300px white;
  box-shadow: 0 10px 300px white; }

.parallax-container {
  position: absolute;
  width: 100%;
  top: 52px;
  overflow: hidden;
  z-index: -1; }

.parallax {
  position: absolute;
  width: 100%; }

.tubes1 {
  background-image: url("../images/tubes1.png");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100%;
  z-index: -1; }

.tubes2 {
  background-image: url("../images/tubes2.png");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100%;
  z-index: -2; }

.tubes3 {
  background-image: url("../images/tubes3.png");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100%;
  z-index: -3; }

.rouage_title {
  width: 4rem;
  padding: 3rem 0; }

.exp_title {
  width: 3.3rem;
  padding: 3rem 0; }

.links_nav:hover #links {
  border-bottom: solid 1px white; }

#comp:hover .skills_nav {
  border-bottom: solid 1px white; }

#diplomes:hover .diploma_nav {
  border-bottom: solid 1px white; }

#exp:hover .exp_nav_nav {
  border-bottom: solid 1px white; }

.title--present {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .title--present:last-child {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.Present {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 5; }
  .Present h1, .Present h2 {
    margin: 0; }

.Present-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .Present-row:first-child .container_manche:after {
    content: "";
    height: 10px;
    width: 100%;
    top: 3px;
    background: #0f0f0f;
    position: relative; }
  .Present-row:last-child .container_manche:before {
    content: "";
    height: 10px;
    width: 100%;
    top: 3px;
    background: #0f0f0f;
    position: relative; }
  .Present-row:last-child .container_manche {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.container_manches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  top: 0px;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.container_manche {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .container_manche:last-child {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

#rouage_portrait {
  position: absolute;
  width: 27rem;
  top: 14.3rem;
  left: 50%;
  transform-x: -50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.link_icon {
  width: 1.3rem;
  float: left;
  margin-right: 1rem; }

#yeux {
  width: 6rem;
  position: relative;
  left: 32vw;
  top: -8rem; }

#oeilg, #oeild {
  transfomr-origin: 50% 50%;
  -webkit-animation-name: cligne;
  animation-name: cligne;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@-webkit-keyframes cligne {
  0% {
    opacity: 1; }
  1% {
    opacity: 0.1; }
  5% {
    opacity: 1; }
  40% {
    opacity: 1; }
  43% {
    opacity: 0; }
  48% {
    opacity: 1; }
  80% {
    opacity: 1; }
  85% {
    opacity: 0; }
  86% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes cligne {
  0% {
    opacity: 1; }
  1% {
    opacity: 0.1; }
  5% {
    opacity: 1; }
  40% {
    opacity: 1; }
  43% {
    opacity: 0; }
  48% {
    opacity: 1; }
  80% {
    opacity: 1; }
  85% {
    opacity: 0; }
  86% {
    opacity: 1; }
  100% {
    opacity: 1; } }

footer {
  margin: 0;
  padding: 2rem;
  background-color: black;
  width: 100%;
  ovev-rflow: hidden; }

@media screen and (max-width: 1000px) {
  .shadow {
    display: none; }
  #canvas {
    display: none; }
  .push_btn {
    left: calc(50vw - 78px);
    top: 22.3rem; }
  .clock_animate {
    width: 85px;
    height: 85px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    margin-left: 1.7rem; }
  .info_robot {
    display: none !important; }
  .presentation section > ul, .avertissement {
    width: 100%;
    margin: 0; }
  section {
    margin: 0; }
  section > ul {
    margin: 0 !important; }
  main {
    background-image: url("../images/background-4.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover; } }

@media screen and (max-width: 600px) {
  header {
    height: 85vh; }
  #canvas, .container_nav, .container-mechanisme-titre, .machine_container {
    display: none; }
  .nav_phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%; }
    .nav_phone img {
      display: none; }
    .nav_phone .skills_nav {
      padding-left: 1rem; }
    .nav_phone h3 {
      font-size: 0.9rem;
      padding-top: 0.4rem; }
  #comp li {
    padding: 0rem; }
  #comp ul {
    width: 100%; }
  .presentation section > ul, .avertissement {
    width: 100%;
    margin: 0; }
  .info_robot {
    display: none !important; }
  section {
    margin: 0; }
  section > ul {
    margin: 0 !important; }
  #rouage_portrait {
    width: 20rem;
    top: 4rem; }
  .conatiner_portrait {
    height: 14rem; }
  .img_portrait {
    top: -12.9rem;
    width: 8rem;
    height: 8rem; }
  .clock_animate {
    margin-left: 1.9rem; }
  .push_btn {
    left: calc(50vw - 80px);
    top: 8.4rem; }
  h1 {
    font-size: 1.3rem; }
  h2 {
    font-size: 1.5rem; }
  #links, #diplomes, #exp {
    padding: 0 7vw; }
  #comp ul {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #comp ul li {
      padding: 2rem; }
  @-webkit-keyframes t-d-active {
    100% {
      -webkit-transform: translateX(-25vw);
      transform: translateX(-25vw);
      opacity: 1; } }
  @keyframes t-d-active {
    100% {
      -webkit-transform: translateX(-25vw);
      transform: translateX(-25vw);
      opacity: 1; } }
  @-webkit-keyframes t-g-active {
    100% {
      -webkit-transform: translateX(25vw);
      transform: translateX(25vw);
      opacity: 1; } }
  @keyframes t-g-active {
    100% {
      -webkit-transform: translateX(25vw);
      transform: translateX(25vw);
      opacity: 1; } }
  @-webkit-keyframes manche-d-active {
    0% {
      -webkit-transform: translateX(35rem);
      transform: translateX(35rem); }
    1% {
      -webkit-transform: translateX(35);
      transform: translateX(35); }
    15% {
      opacity: 1; }
    40% {
      -webkit-transform: translateX(20vw);
      transform: translateX(20vw); }
    85% {
      -webkit-transform: translateX(20vw);
      transform: translateX(20vw); }
    95% {
      opacity: 1; }
    99% {
      -webkit-transform: translateX(85rem);
      transform: translateX(85rem);
      opacity: 0; }
    100% {
      -webkit-transform: translateX(85rem);
      transform: translateX(85rem);
      opacity: 0; } }
  @keyframes manche-d-active {
    0% {
      -webkit-transform: translateX(35rem);
      transform: translateX(35rem); }
    1% {
      -webkit-transform: translateX(35);
      transform: translateX(35); }
    15% {
      opacity: 1; }
    40% {
      -webkit-transform: translateX(20vw);
      transform: translateX(20vw); }
    85% {
      -webkit-transform: translateX(20vw);
      transform: translateX(20vw); }
    95% {
      opacity: 1; }
    99% {
      -webkit-transform: translateX(85rem);
      transform: translateX(85rem);
      opacity: 0; }
    100% {
      -webkit-transform: translateX(85rem);
      transform: translateX(85rem);
      opacity: 0; } }
  @-webkit-keyframes manche-g-active {
    0% {
      -webkit-transform: translateX(-45rem);
      transform: translateX(-45rem);
      opacity: 0; }
    15% {
      opacity: 1; }
    44% {
      -webkit-transform: translateX(-20vw);
      transform: translateX(-20vw); }
    85% {
      -webkit-transform: translateX(-20vw);
      transform: translateX(-20vw); }
    95% {
      opacity: 1; }
    99% {
      -webkit-transform: translateX(-85rem);
      transform: translateX(-85rem);
      opacity: 0; }
    100% {
      -webkit-transform: translateX(-85rem);
      transform: translateX(-85rem);
      opacity: 0; } }
  @keyframes manche-g-active {
    0% {
      -webkit-transform: translateX(-45rem);
      transform: translateX(-45rem);
      opacity: 0; }
    15% {
      opacity: 1; }
    44% {
      -webkit-transform: translateX(-20vw);
      transform: translateX(-20vw); }
    85% {
      -webkit-transform: translateX(-20vw);
      transform: translateX(-20vw); }
    95% {
      opacity: 1; }
    99% {
      -webkit-transform: translateX(-85rem);
      transform: translateX(-85rem);
      opacity: 0; }
    100% {
      -webkit-transform: translateX(-85rem);
      transform: translateX(-85rem);
      opacity: 0; } }
  .container-cache {
    height: 22rem;
    width: 10.8rem; }
  #box-cache_small_top {
    height: 3rem; }
  .box-cache_small {
    height: 57.2vh;
    width: 100%; } }

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .nav_phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%; }
    .nav_phone h3 {
      margin-top: 0.5rem; }
    .nav_phone img {
      display: none; }
  .info_robot {
    display: block !important;
    left: 3rem;
    top: 13rem;
    font-size: 0.7rem; }
  #canvas {
    display: block;
    -webkit-transform: scale(0.5) translateY(-36rem) translateX(-22rem);
    -ms-transform: scale(0.5) translateY(-36rem) translateX(-22rem);
    transform: scale(0.5) translateY(-36rem) translateX(-22rem); }
  @-webkit-keyframes robot-fade-in {
    from {
      -webkit-transform: scale(0.5) translateY(-36rem) translateX(-22rem);
      transform: scale(0.5) translateY(-36rem) translateX(-22rem); }
    to {
      -webkit-transform: scale(0.5) translateY(-11.5rem) translateX(-22rem);
      transform: scale(0.5) translateY(-11.5rem) translateX(-22rem); } }
  @keyframes robot-fade-in {
    from {
      -webkit-transform: scale(0.5) translateY(-36rem) translateX(-22rem);
      transform: scale(0.5) translateY(-36rem) translateX(-22rem); }
    to {
      -webkit-transform: scale(0.5) translateY(-11.5rem) translateX(-22rem);
      transform: scale(0.5) translateY(-11.5rem) translateX(-22rem); } }
  #animation_container {
    width: 30px;
    left: -5rem; }
  .container-cache {
    height: 22rem;
    width: 10.8rem; }
  #box-cache_small_top {
    height: 2.1rem; }
  .box-cache_small {
    height: 12.5rem;
    width: 100%; }
  .push_btn {
    left: calc(50vw - 80px);
    top: 3.5rem; }
  .img_portrait {
    top: -16.4rem;
    width: 5rem;
    height: 5rem; }
  #rouage_portrait {
    width: 13rem;
    top: 2.5rem; }
  .container-cache {
    height: 14rem;
    width: 6.8rem; }
  h1 {
    font-size: 1rem; }
  h2 {
    font-size: 1.2rem; }
  .conatiner_portrait {
    height: 1rem; }
  nav {
    height: 2.9rem; }
  footer {
    padding-top: 2rem; }
  section > ul, .skills, section > div, section > p {
    padding-left: 30vw; }
  .skills li:hover {
    border: solid 1px transparent; }
  section {
    position: relative;
    z-index: 2; }
  @-webkit-keyframes t-d-active {
    100% {
      -webkit-transform: translateX(-18vw);
      transform: translateX(-18vw);
      opacity: 1; } }
  @keyframes t-d-active {
    100% {
      -webkit-transform: translateX(-18vw);
      transform: translateX(-18vw);
      opacity: 1; } }
  @-webkit-keyframes t-g-active {
    100% {
      -webkit-transform: translateX(37vw);
      transform: translateX(37vw);
      opacity: 1; } }
  @keyframes t-g-active {
    100% {
      -webkit-transform: translateX(37vw);
      transform: translateX(37vw);
      opacity: 1; } }
  @-webkit-keyframes manche-d-active {
    0% {
      -webkit-transform: translateX(35rem);
      transform: translateX(35rem); }
    1% {
      -webkit-transform: translateX(35);
      transform: translateX(35); }
    15% {
      opacity: 1; }
    40% {
      -webkit-transform: translateX(33vw);
      transform: translateX(33vw); }
    85% {
      -webkit-transform: translateX(33vw);
      transform: translateX(33vw); }
    95% {
      opacity: 1; }
    99% {
      -webkit-transform: translateX(85rem);
      transform: translateX(85rem);
      opacity: 0; }
    100% {
      -webkit-transform: translateX(85rem);
      transform: translateX(85rem);
      opacity: 0; } }
  @keyframes manche-d-active {
    0% {
      -webkit-transform: translateX(35rem);
      transform: translateX(35rem); }
    1% {
      -webkit-transform: translateX(35);
      transform: translateX(35); }
    15% {
      opacity: 1; }
    40% {
      -webkit-transform: translateX(33vw);
      transform: translateX(33vw); }
    85% {
      -webkit-transform: translateX(33vw);
      transform: translateX(33vw); }
    95% {
      opacity: 1; }
    99% {
      -webkit-transform: translateX(85rem);
      transform: translateX(85rem);
      opacity: 0; }
    100% {
      -webkit-transform: translateX(85rem);
      transform: translateX(85rem);
      opacity: 0; } }
  @-webkit-keyframes manche-g-active {
    0% {
      -webkit-transform: translateX(-45rem);
      transform: translateX(-45rem);
      opacity: 0; }
    15% {
      opacity: 1; }
    44% {
      -webkit-transform: translateX(-15vw);
      transform: translateX(-15vw); }
    85% {
      -webkit-transform: translateX(-15vw);
      transform: translateX(-15vw); }
    95% {
      opacity: 1; }
    99% {
      -webkit-transform: translateX(-85rem);
      transform: translateX(-85rem);
      opacity: 0; }
    100% {
      -webkit-transform: translateX(-85rem);
      transform: translateX(-85rem);
      opacity: 0; } }
  @keyframes manche-g-active {
    0% {
      -webkit-transform: translateX(-45rem);
      transform: translateX(-45rem);
      opacity: 0; }
    15% {
      opacity: 1; }
    44% {
      -webkit-transform: translateX(-15vw);
      transform: translateX(-15vw); }
    85% {
      -webkit-transform: translateX(-15vw);
      transform: translateX(-15vw); }
    95% {
      opacity: 1; }
    99% {
      -webkit-transform: translateX(-85rem);
      transform: translateX(-85rem);
      opacity: 0; }
    100% {
      -webkit-transform: translateX(-85rem);
      transform: translateX(-85rem);
      opacity: 0; } } }
