.clock_animate {
  width: 3.5rem;
  height: 1rem;
  margin: 1rem;
  background-color: #F1EDF7;
  border: none;
  border-radius: 2px; }

.push_btn {
  position: absolute;
  top: 2rem;
  -webkit-transform: translateX 30px;
  -ms-transform: translateX 30px;
  transform: translateX 30px;
  z-index: 10; }
