@import "normalyze.css";
@import "global.scss";
@import "header.scss";
@import "svg.scss";
@import "media.scss";

$coul-prim:#edc48a;
$coul-sec: #2c363d;
$coul-ter: white;
$coul-cat: black;
$coul-five: #D54F41;
$coul-six: #2A343B;
