@font-face {
    font-family: 'Blanka-Regular';
		src:  url('/../font/Blanka-Regular.otf');
}

@font-face {
    font-family: 'Qaeno';
      	src:  url('/../font/Qaeno.ttf') format('truetype');
        src:  url('/../font/Qaeno.otf');
}

body{
	font-size: 1.1rem;
	color: #F1EDF7;
	font-family: 'Iceland', cursive;
}