.item_skills--small:hover{
	border: 1px solid rgba(255, 255, 255, 0.3);

}
.item_skills--small{
	text-align: center;
	border: solid 1px rgba(0,0,0,0);
}

.skills-list{
	padding: 0 2vw;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.item_skills--small>div:hover{
	border: 1px solid white;
}

.item_skills--small>div{
	margin-top: 1.2rem;
	border: 1px solid white;
	width: 5rem;
}

.full{
	height: 0.8rem;
	background-color: white;
	width: 0;
}
#comp li{	
	padding: 4rem;
}

.links_title--avertissement{
	font-size: 1.5rem;
	padding-bottom: 2rem;
}

//------------------- media queries ------------------------------

@media screen and (max-width: 1000px){

}

@media only screen and (max-width: 1000px) and (orientation: landscape){

}

@media screen and (max-width: 600px){
	.item_skills--small{
		padding: 0;
	}

	#comp ul{
		justify-content: space-around;
	
		li{
			padding: 2rem;
		}
	}
}