.title--present {
	height: 80px;
	display: flex;
	flex: 1;
    justify-content: flex-end;
	align-items: center;
	&:last-child {
		justify-content: flex-start;
	}
}
.Present {
	display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
	h1, h2{
		margin: 0;
	}
}
.Present-row {
	display: flex;
	&:first-child {
		& .container_manche:after {
			content: "";
			height: 10px;
			width: 100%;
			top: 3px;
			background: #0f0f0f;
			position: relative;
		}
	}
	&:last-child {
		& .container_manche:before {
			content: "";
			height: 10px;
			width: 100%;
			top: 3px;
			background: #0f0f0f;
			position: relative;
		}
		.container_manche {
			justify-content: flex-end;
		}
	}

}
.container_manches {
	display: flex;
    flex: 1;
    position: relative;
    flex-flow: row wrap;
    top: 0px;
    align-content: center;
}
.container_manche {
	position: relative;
    flex: 1;
    display: flex;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
	&:last-child {
		justify-content: flex-start;
	}
}