.title--present {
	height: 80px;
	display: flex;
	flex: 1;
    justify-content: flex-end;
	align-items: center;
	&:last-child {
		justify-content: flex-start;
	}
}

.Present {
	display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
	h1, h2{
		margin: 0;
	}
}

.Present-row {
	display: flex;
	&:first-child {
		& .container_manche:after {
			content: "";
			height: 10px;
			width: 100%;
			top: 3px;
			background: #0f0f0f;
			position: relative;
		}
	}
	&:last-child {
		& .container_manche:before {
			content: "";
			height: 10px;
			width: 100%;
			top: 3px;
			background: #0f0f0f;
			position: relative;
		}
		.container_manche {
			justify-content: flex-end;
		}
	}

}

.container_manches {
	display: flex;
    flex: 1;
    position: relative;
    flex-flow: row wrap;
    top: 0px;
    align-content: center;
}

.container_manche {
	position: relative;
    flex: 1;
    display: flex;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
	&:last-child {
		justify-content: flex-start;
	}
}

.container-manche-g, .title_2{
	transform: translateX(-70vw);
	opacity: 0;
}

.container-manche-d, .title_1{
	transform: translateX(70vw);
	opacity: 0;
}

.container-manche-g-active{
	animation-name: manche-g-active;
	animation-duration: 5s;
	animation-delay: 4.3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@keyframes manche-g-active{
	0%{
		transform: translateX(-82rem);
		opacity: 0;
	}
	15%{
		opacity: 1;
	}
	54%{
		transform: translateX(-11rem);

	}
	85%{
		transform: translateX(-11rem);

	}
	95%{
		opacity: 1;
	}
	99%{
		transform: translateX(-85rem);
		opacity: 0;
	}
	100%{
		transform: translateX(-85rem);
		opacity: 0;
	}
}

.container-manche-d-active{
	animation-name: manche-d-active;
	animation-duration: 5s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@keyframes manche-d-active{
	0%{
		transform: translateX(70rem);
	}
	1%{
		transform: translateX(69rem);
	}
	15%{
		opacity: 1;
	}
	50%{
		transform: translateX(7rem);

	}
	85%{
		transform: translateX(7rem);
	}
	95%{
		opacity:1;
	}
	
	99%{
		transform: translateX(85rem);
		opacity:0;
	}
	100%{
		transform: translateX(85rem);
		opacity:0;
	}
}

.container_manches{
	overflow: hidden;
}

.piston_dis{
	animation-name: dissapear;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	animation-delay: 2s;
	transform-origin: 100% 100%;
}

@keyframes dissapear{
	0%{
	opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		transform: scale(0) ;
		opacity: 0;


	}
}