//TEST

.item_push-btn{
	width:  80px;
}

.start-btn--active:active{
	transform: scale(0.92);
	transform-origin: 50% 50%;
	transform-box: fill-box;
}

.container_push-btn{
	position: absolute;
	top: 5rem;
	left: 10rem;
	transform: translateX (35px);
	z-index: 55;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 120px;
	white-space: nowrap;
}

.push_btn_disable{
	animation-name: start-btn_fade-out;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes start-btn_fade-out{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
		display: none;
	}
}

//------------------- media queries ------------------------------

@media screen and (max-width: 1000px){
	.container_push-btn{
		left: calc(50vw - 60px);
		top: 22.3rem;
	}
}

@media only screen and (max-width: 1000px) and (orientation: landscape){
	.container_push-btn{
		left: calc(50vw - 60px);
		top: 3.5rem;
	}
}

@media screen and (max-width: 600px){
	.container_push-btn{
		left: calc(50vw - 60px);
		top: 132px;;
	}
}