.item_push-btn{
	width:  70px;
	animation-name: push-btn-rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 20s;
}
@keyframes push-btn-rotate{
	form{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.start-btn--active:active{
	transform: scale(0.92);
	transform-origin: 50% 50%;
	transform-box: fill-box;
}

.container_push-btn{
	position: absolute;
	top: 358px;;
	left: calc(50vw - 60px);
	transform: translateX (35px);
	z-index: 55;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 120px;
	
	p{
		white-space: nowrap;
		animation-name: start-shadow;
		animation-duration: 15s;
		animation-iteration-count: infinite;
	}
}
@keyframes start-shadow{
	0%{
		text-shadow: 0 0 5px white;
	}
	1%{
		text-shadow: 0 0 0px white;
	}
	8%{
		text-shadow: 0 0 5px white;
	}
	10%{
		text-shadow: 0 0 0px white;
	}
	36%{
		text-shadow: 0 0 5px white;
	}
	38%{
		text-shadow: 0 0 0px white;
	}
	40%{
		text-shadow: 0 0 5px white;
	}
	43%{
		text-shadow: 0 0 0px white;
	}
	70%{
		text-shadow: 0 0 5px white;
	}
	75%{
		text-shadow: 0 0 0px white;
	}
	80%{
		text-shadow: 0 0 5px white;
	}
	100%{
		text-shadow: 0 0 0px white;
	}
	
}

.push_btn_disable{
	animation-name: start-btn_fade-out;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes start-btn_fade-out{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
		display: none;
	}
}

//------------------- media queries ------------------------------

@media screen and (max-width: 1000px){
	.container_push-btn{
		top: 22.3rem;
	}
}

@media only screen and (max-width: 1000px) and (orientation: landscape){
	.container_push-btn{
		top: 72px;
	}
}

@media screen and (max-width: 600px){
	.container_push-btn{
		top: 136px;
	}
}