nav{
	height: 4rem;
	width: 100%;
	background-color: black;
	position: fixed;
	z-index: 19;
	top: 0;
	a{
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		align-items: center;
		h3{
			margin-right: 1rem;
		}
		.svg_nav{
			width: 1.8rem;
			margin-right: 1rem;
		}
		.svg_nav-xp{
			width: 1.4rem;
			margin-right: 3rem;
		}
	}
}

.menu{
	display: flex;
	justify-content: space-around;
	width: 70vw;
	h3{
		font-size: 0.9rem;
		padding-top: 0.4rem;
	}
}

.menu h3:hover{
	border-bottom: solid 1px white;
}

.menu_container{
	display: flex;
	justify-content: flex-end;
}

//----------------- nav hover -------------------------

#comp:hover .skills_nav{
	border-bottom: solid 1px white;
}

#diplomes:hover .diploma_nav{
	border-bottom: solid 1px white;
}

#exp:hover .exp_nav_nav{
	border-bottom: solid 1px white;
}