.conatiner_portrait{
	position: relative;
	margin: 0 0 8rem 0;
	text-align: center;
	z-index: 1;
}

.img_portrait{
	border-radius: 500px;
	max-width: 10rem;
	margin-top: 23rem;
	position: relative;
	z-index: 2;
	border: solid 4px black;
	width: 10rem;
	height: 10rem;
	border-radius: 500px;
	background-color: white;
	opacity: 0;
}

.image_portrait_fade-in{
	animation-name: fade-in_portrait;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-delay: 2.5s;
}

@keyframes fade-in_portrait{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}