.container-child-shutters{
	display: flex;
	flex-direction: column;
}
.container_shutters{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
	width: 100vw;
	min-height: 100vh;
}
.container_shutters, .row-shutters{
	display: flex;
	justify-content: center;
}

.item_shutter--black{
	background-color: black;
}

.item_shutter--circle{
	height: 450px;
	width: 225px;
	min-width: 225px;
	flex-shrink: 1;
	margin: 0;
	padding: 0;
}

.item_shutter--big{
	width: 50vw;
	flex-grow: 1;
}

.item_shutter--bottom{
	width: 100%;
	flex-grow: 1;
}

.item_shutter--top{
	height: 223px;
	min-height: 223px;
	flex-shrink: 1;
}

.row-shutter--left--active{
	animation-name: shutters-slide-left;
	animation-duration: 1.2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes shutters-slide-left{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(-55vw);
		z-index: -5;
	}
}
.row-shutter--right--active{
	animation-name: shutters-slide-right;
	animation-duration: 1.2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes shutters-slide-right{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(55vw);
		z-index: -5;
	}
} 

//------------------- media queries ------------------------------


@media only screen and (max-width: 1000px) and (orientation: landscape){
	.item_shutter--circle{
		height: 14rem;
		width: 112px;
		min-width: 112px;
	}

	.item_shutter--top{
		height: 3.1rem;
		min-height: 3.1rem;
	}

	.item_shutter--bottom{
		height: 12.5rem;
		width: 100%;
	}
}

@media screen and (max-width: 600px){
	.item_shutter--circle{
		height: 356px;
		width: 178px;
		min-width: 178px;
	}

	.item_shutter--top{
		height: 3rem;
		min-height: 3rem;
	}
}