.container-child-cache{
	display: flex;
	flex-direction: column;
}
.container-global-cache{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.container-global-cache, .sous-container-global-cache{
	display: flex;
	justify-content: center;
}

.box-cache{
	background-color: black;
}

.container-cache{
	height: 450px;
	width: 225px;
	min-width: 225px;
	flex-shrink: 1;
	margin: 0;
	padding: 0;
}

.box-cache_big{
	width: 50vw;
	flex-grow: 1;
}

.box-cache_small{
	width: 100%;
	flex-grow: 1;
}

.box-cache_small_top{
	height: 223px;
	min-height: 223px;
	flex-shrink: 1;
}

.sous-container-global-cache-left-active{
	animation-name: cache-slide-left;
	animation-duration: 1.2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes cache-slide-left{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(-55vw);
		z-index: -5;
	}
}
.sous-container-global-cache-right-active{
	animation-name: cache-slide-right;
	animation-duration: 1.2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes cache-slide-right{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(55vw);
		z-index: -5;
	}
}
.main-cache{
	height: 100vh;
}

html {
 overflow-x: hidden;
} 

//------------------- media queries ------------------------------


@media only screen and (max-width: 1000px) and (orientation: landscape){
	.container-cache{
		height: 14rem;
		width: 6.8rem;
		min-width: 6.8rem;
	}

	.box-cache_small_top{
		height: 2.1rem;
		min-height: 2.1rem;
	}

	.box-cache_small{
		height: 12.5rem;
		width: 100%;
	}

	.container-global-cache{
		overflow: hidden;
	}
}

@media screen and (max-width: 600px){
	.container-cache{
		height: 22rem;
		width: 10.8rem;
		min-width: 10.8rem;
	}

	.box-cache_small_top{
		height: 3rem;
		min-height: 3rem;
	}
}