.container-child-cache{
	display: flex;
	flex-direction: column;
}
.container-global-cache{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.container-global-cache, .sous-container-global-cache{
	display: flex;
	justify-content: center;
}

.box-cache{
	background-color: black;
}

.container-cache{
	height: 29.7rem;
	width: 14.3rem;
	min-width: 14.3rem;
	flex-shrink: 1;
}

.box-cache_big{
	width: 50vw;
	flex-grow: 1;
}

.box-cache_small{
	width: 100%;
	flex-grow: 1;
}

.box-cache_small_top{
	height: 13.1rem;
	min-height: 13.1rem;
	flex-shrink: 1;
}

.sous-container-global-cache-left-active{
	animation-name: cache-slide-left;
	animation-duration: 1.2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes cache-slide-left{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(-55vw);
		z-index: -5;
	}
}
.sous-container-global-cache-right-active{
	animation-name: cache-slide-right;
	animation-duration: 1.2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes cache-slide-right{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(55vw);
		z-index: -5;
	}
}
.main-cache{
	height: 100vh;
}

html {
 overflow-x: hidden;
} 