#yeux{
	width: 6rem;
	position: relative;
	left: 32vw;
	top: -4.5rem;
}

#oeilg, #oeild{
	transform-origin: 50% 50%;
	animation-name: cligne;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

@keyframes cligne{
	0%{opacity:1;}
	1%{opacity: 0.1;}
	5%{opacity:1;}
	40%{opacity:1;}
	43%{opacity: 0;}
	48%{opacity: 1;}
	80%{opacity: 1;}
	85%{opacity: 0;}
	86%{opacity: 1;}
	100%{opacity: 1;}
}