//--------- animation title--------------------------------------


//---------------------------- header


.title--arms {
	height: 80px;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	&:last-child {
		justify-content: flex-start;
	}
}

.title_1, .title_2{
	text-align: center;
	font-family: 'Poiret One', cursive;
}

.title_1{
	display: none;
	white-space: nowrap;
	font-weight: 100;
	font-size: 2.3rem;
}

.title_2{
	letter-spacing: 5px;
	text-indent: 5px;
	white-space: nowrap;
	font-size: 3.3rem;
}

#title_1-active{
	animation-name: t-g-active;
	animation-duration: 3.2s;
	animation-delay: 3.9s;
	animation-fill-mode: forwards;
	display: block;
	opacity: 0;
	position: absolute;
	left: 50%;
}

@keyframes t-g-active{
	0%{
		transform: translateX(60vw);
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	100%{
		transform: translateX(-50%);
		opacity: 1;
	}
}

.title_2-active{
	animation-name: t-d-active;
	animation-duration: 3s;
	animation-delay: 3.1s;
	animation-fill-mode: forwards;
	opacity: 0;
	position: relative;
	left: 50%;
}

@keyframes t-d-active{
	0%{
		transform: translateX(-100vw);
		opacity: 0;
	}
	5%{
		opacity: 1;
	}
	100%{
		transform: translateX(-50%);
		opacity: 1;
	}
}

//---------------------------- main

.box_title{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4rem;
}

.item_title-section--spacing{
	margin: 0 30px;
}

.title-decoration{
	width: 25vw;
	height: 1px;
	background-color: white;
}

.box-title_2{
	position: absolute;
	width: 100%;
	left: 0;
}

.exp_title{
	width: 2.5rem;
	padding: 3rem 0;
}

//------------------------------------ media queries -------------------------------------------


@media only screen and (max-width: 1000px) and (orientation: landscape){
	.title_1{
		font-size: 2rem;
		text-shadow: 0 0 55px black;
	}

	.title_2{
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 1000px){
	.box_title, .links_title--avertissement{
		padding: 4rem 0;
	}

	.links_title--avertissement{
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 600px){
	.title_1{
		font-size: 1.5rem;
	}

	.title_2{
		font-size: 2.2rem;
	}
}
