	@import "components/fonts.scss";
	@import "components/nav.scss";
	@import "components/rouages.scss";
	@import "components/button.scss";
	@import "components/robot.scss";
	@import "components/links.scss";
	@import "components/shutters.scss";
	@import "components/portrait.scss";
	@import "components/footer.scss";
	@import "components/arms.scss";
	@import "components/skills.scss";
	@import "components/title.scss";
	@import "components/infos.scss";
	@import "components/small-robot.scss";
	@import "components/shutdown.scss";
	@import "components/content-sections.scss";


//--------------------- global-----------------------------------------

*{
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body{
	//background: linear-gradient(to bottom, #383742 0%,#131114 100%);
	background: linear-gradient(to bottom, #323035 0%,#141114 100%);
}

ul{
	padding-left: 0;
}

li{
	list-style-type: none;
}

.hidden{
	display: none;
}

.container-header{
	width: 100vw;
	margin: auto;
}

main{
	position: relative;
}

.container-bgd{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0rem;
	background-image: url("../images/dechets2.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 55rem;
	opacity:0.5;
}

.container-flex--row{
	display: flex;
}

.flex--align-center{
	align-items: center;
}

.flex--justify-center{
	justify-content: center;
}

.item--spacing-bottom-small{
	margin-bottom: 2rem;
}

//------------------------media queries


@media only screen and (max-width: 1000px){
	.container-header{
		height: 100vh;
	}
}

@media screen and (max-width: 600px){


	#canvas, .container_nav, .container-mechanisme-titre, .machine_container{
		display: none;
	}
	section{
		margin: 0;
	}

	.container-bgd{
		background-image: none;
	}
}

@import "media.scss";